

:root{
    --verde-oscuro: #3BB175;
    --verde-claro: #B5F098;
    --amarillo: #FFBF1C;

    --fuentePrincipal: "Rubik", sans-serif;
}

body{
    margin: 0;
    font-family: var(--fuentePrincipal);
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6{ 
    margin: 0;
}

p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none; 
}
